.container {
    margin-top: 100px;
    width: 70%;
}

.form-control{
    margin-top: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card{
    margin-bottom: 5px;
}

.input{
    margin: 5px;
}